.sentence-taggers{
  position: relative;
  margin-left: 50px;
  margin-top: 50px;
}

div.sentence-taggers>div.display-sentence{
  padding-top: 15px;
}

div.dropdown-container {
  float: left; 
  display: block; 
  width: 70px;
  padding-left: 4px;  
}

div.dropdown-container.show {
  width: 180px; 
}

div.dropdown-container.show>div.dropdown-list {
  transform: scale(1, 1); 
  background-color: #FFF;
  z-index: 1;
}

div.dropdown-container>div.dropdown-display {
  width: 100%;
  background: white;
  height: 20px;
  cursor: pointer;
  border: solid 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

div.dropdown-container>div.dropdown-display>span.cancel-tag{
  padding-bottom: 4px;
  padding-right: 3px;
  padding-left: 3px;
  font-weight: bold;
  position: absolute;
  right: 0px;
}

div.dropdown-container>div.dropdown-display>span.cancel-tag:hover{
  color: #87CEFA;
  background-color: black;
  font-weight: bold;
}

div.dropdown-container>div.dropdown-display>span.display-tag{
  padding-left: 3px;
  font-size: 11px;
}

.tag-item{
  padding-left: 6px;
  font-size: 14px;
}

div.dropdown-container>div.dropdown-list { 
  float: left; 
  width: 100%; 
  position: relative; 
  width: 100%; 
  transform: scale(1, 0);
}

div.dropdown-container>div.dropdown-list>div{
  float: left; 
  width:100%; 
  padding: 0 5; 
  font-size:14px;   
  border:solid 1px black; 
  border-top:none;
}

div.dropdown-container>div.dropdown-list>div:hover{
  cursor: pointer;
}

div.dropdown-container>div.dropdown-list>div>div:hover{
  color: #87CEFA;
  background-color: black;
}

div.sentence-inline{
  display: inline-block;
  padding-right: 10px;
}

div.sentence-inline>div.tags{
  position: relative;
  display: block;
  margin-top: 5px;
  float: right;
}

div.sentence-inline>div.tags>div.add-tag{
  border: solid 1px black;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  font-weight: bold;
  margin-left: 4px;
}

div.sentence-inline>div.tags>div.add-tag:hover{
  cursor: pointer;
  color: #87CEFA;
  background-color: black;
  font-weight: bold;
}

.submit-bt{
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 5px;
}

.report-bt{
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 5px; 
}

.bt-container{
  padding-top: 20px;
  position: absolute;
  top: 130px;
}

.bt-container>div{
  padding-right: 10px;
}

.intent-box{
  padding-left: 10px;
}